import { defineComponent, h, resolveComponent } from "vue";
import { <%-widgetNames.join(', ')%> } from './widgets';

const widgets = <%-JSON.stringify(widgets)%>;

export default defineComponent({
  components: {
    <%=widgetNames.join(',')%> 
  },
  render() {
    const widgetsRender = (widgets: any) => {
      return widgets.map((widget: any) =>
        h(
          resolveComponent(widget.name),
          { ...widget.props },
          widgetsRender(widget.children || null)
        )
      );
    };
    return (<div class="w_widget-list-wrapper">{widgetsRender(widgets)}</div>);
  },
});