.widget-tools-wrapper {
  font-size: 0;
  position: relative;
  .drag-handler {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 10;
    cursor: move;
  }
  .tools-area {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    .delete-container {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: $error-color;
    }
  }
  .layout-tools-area {
    position: relative;
    width: 100%;
    display: flex;
    .drag-handler {
      position: relative;
      height: 10px;
      width: 100%;
      background-color: $error-color;
      cursor: move;
    }
    .layout-tools-delete {
      background-color: $error-color;
    }
  }
}

.widget-tools-wrapper.actived {
  border: 2px solid $primary-color !important;
}

.widget-tools-wrapper.is-layout {
  border: 1px dashed $error-color;
}